@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

/* style the background page */
.top-container {
  background: url("img/perpus.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* style the form */
.form-box {
  position: relative;
  width: 400px;
  height: 550px;
  border: 3x solid rgba(255, 255, 2550.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* style the title "Register" */
.form-box h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
}

/* style the box for input */
.form-box .input-box {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.form-box .input-box input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  color: #fff;
  font-size: 15px;
}

/* style the user,email,pass write */
input::placeholder {
  color: #fff;
}

/* style the register button */
.btn {
  color: #fff;
  background: rgb(207, 145, 28);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
}

/* style the word "sudah punya akun" & login */
.grup {
  display: flex;
  justify-content: space-between;
}

.grup span.akun {
  color: #fff;
  position: relative;
  top: 10px;
  text-decoration: none;
  font-weight: 500;
}

.grup span a {
  color: #fff;
  position: relative;
  top: 10px;
  text-decoration: none;
  font-weight: 500;
}

.grup a:focus {
  text-decoration: underline;
}

/* style the icons */
i {
  color: #fff;
  position: absolute;
  top: 13px;
  right: 0;
}

/* style notif */
#result {
  color: red;
  font-weight: 600;
  position: relative;
  top: 25px;
}

/* style the popup notif */
.popup {
  width: 400px;
  background-color: #fff;
  border-radius: 18px;
  position: absolute;
  /* top: 0; */
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.4s, top 0.4s;
  visibility: hidden;
  text-align: center;
  padding: 20px 0;
  height: 300px;
  color: #000;
}

/* style icon popup */
.popup ion-icon {
  font-size: 50px;
  color: rgb(15, 243, 15);
}

/* style button popup */
.popup button {
  width: 50%;
  padding: 10px 0;
  margin-top: 50px;
  background: rgb(15, 243, 15);
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.popup a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.open-slide {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}
